@page
@model IndexModel
@{
    ViewData["Title"] = "Chat";
}

<div class="container">
    <div class="row">
        <label class="col-2">Sala:</label>
        <select class="form-control" id="txtRoom">
            <option value="Sala1">Sala 1</option>
            <option value="Sala2">Sala 2</option>
            <option value="Sala3">Sala 3</option>
        </select>
    </div>
    <div class="row">
        <label class="col-2">Usuario:</label>
        <input class="form-control" type="text" id="txtUser" />
    </div>
    <div class="row">
        <label class="col-2">Mensaje:</label>
        <input class="form-control" type="text" id="txtMessage" />
    </div>
    <div class="row pt-2">
        <div class="col-6">
            <input type="button" id="btnConnect" class="btn-block btn-info" value="Conectar" />
        </div>
        <div class="col-6">
            <input type="button" id="btnSend" class="btn-block btn-success" value="Enviar" disabled />
        </div>
        <div class="col-6">
            Tiempo en chat:
            <label id="lblDuration">0</label>
        </div>
    </div>
</div>
<div class="row">
   <div class="col-12">
        <hr />
   </div>
</div>
<div class="row">
   <ul id="lstMessages">
   </ul>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/app/chat/chatHub.js"></script>
